
p{
    text-align: center;
}
.phai{
    text-align: right;
}

ul li:first-child::first-letter{
    color: orange;
    font-size: 30px;
}
ul li:nth-child(3)::first-letter{
    color:blue;
    font-size: 30px;
}